<a href="https://colab.research.google.com/github/ReynaldoMR3/clases_ih/blob/main/map_reduce_filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#La función map recibe un objeto(función) y una secuencia,
#despues aplica la función a cada elemento de la secuencia

txt = ['lambda functions are anonymous functions.',
       'anonymous functions dont have a name.',
       'functions are objects in Python.']

mark = map(lambda s: (True, s) if 'anonymous' in s else (False, s), txt)
print(mark) #nos regresa un objeto map

<map object at 0x7f4efc0a3e80>

In [ ]:
print(list(mark))

[(True, 'lambda functions are anonymous functions.'), (True, 'anonymous functions dont have a name.'), (False, 'functions are objects in Python.')]

In [ ]:
slicing = map(lambda s: s.split(), txt)
print(list(slicing))

[['lambda', 'functions', 'are', 'anonymous', 'functions.'], ['anonymous', 'functions', 'dont', 'have', 'a', 'name.'], ['functions', 'are', 'objects', 'in', 'Python.']]

In [ ]:
upper = map(lambda s: s[0].upper() + s[1:], txt)
print(list(upper))

['Lambda functions are anonymous functions.', 'Anonymous functions dont have a name.', 'Functions are objects in Python.']

In [ ]:
def square(num):
  return num**2

In [ ]:
my_nums = [1,2,3,4,5]
squares = list(map(square, my_nums))
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
for i in map(square, [10,24,54,12]):
  print(i)

100
576
2916
144

In [ ]:
def splicer(txt):
  if len(txt)%2 == 0:
    return "EVEN"
  else:
    return txt[0]

In [ ]:
even_strings = list(map(splicer,txt)) #no usamos parentesis en la función con map
print(even_strings)

['l', 'a', 'EVEN']

In [ ]:
def multiplica(num):
  return lambda x: x*num

In [ ]:
lista = [20, 30, 10, 40, 50, 120]
por10 = multiplica(10)
print(por10)
list(map(por10, lista))

<function multiplica.<locals>.<lambda> at 0x7f4efc045ae8>

[200, 300, 100, 400, 500, 1200]

In [ ]:
temps = [("Berlin", 29), ('Mexico', 28), 
         ('Japon', 40), ('Korea', 17),
         ('España', 32), ('Argentina', 11)
         ]

celsius = lambda t: (t[0], (9/5)*t[1] + 32)
list(map(celsius, temps))

[('Berlin', 84.2),
 ('Mexico', 82.4),
 ('Japon', 104.0),
 ('Korea', 62.6),
 ('España', 89.6),
 ('Argentina', 51.8)]

In [ ]:
#filter function

def check_even(num):
  return num%2 == 0

In [ ]:
nums = [1,3,124,5,21,5,2919,293,123,23]

In [ ]:
filter(check_even, numeros) #filtra basandose en la condición de la condicion, la funcion tiene que regresar true or false

In [ ]:
list(filter(check_even, nums))

[124]

In [ ]:
list(filter(lambda x: x%3==0, nums))

[3, 21, 2919, 123]

In [ ]:
def num_primo(num):
  if num == 2:
    return True
  elif num <=1 or num % 2 == 0:
    return False
  else:
    for i in range(3, num, 2):
      if num % i == 0:
        return False
  return True

In [ ]:
numeros = [9283109, 923819, 2039, 12931, 2314, 291, 7, 11, 15, 231]
list(filter(num_primo, numeros))

[2039, 7, 11]

In [ ]:
list(filter(lambda x: x%2==0, [12,34,849,29,745]))

[12, 34]

In [ ]:
from statistics import mean, median, mode
from random import choice
floats = [1.3, 5.2, 8.4, 12.5, 84.3, 9.15]
data = [choice(floats) for i in range(50)]
avg = mean(data)
mdn = median(data)
mda = mode(data)

In [ ]:
list(filter(lambda x: x > avg, data))

[84.3, 84.3, 84.3, 84.3, 84.3, 84.3, 84.3, 84.3]

In [ ]:
list(filter(lambda x: x == mdn, data))

[9.15, 9.15, 9.15, 9.15, 9.15, 9.15, 9.15, 9.15, 9.15, 9.15, 9.15, 9.15, 9.15]

In [ ]:
list(filter(lambda x: x >= mda, data))

[12.5,
 12.5,
 12.5,
 12.5,
 84.3,
 84.3,
 9.15,
 84.3,
 9.15,
 9.15,
 84.3,
 9.15,
 12.5,
 12.5,
 9.15,
 9.15,
 9.15,
 84.3,
 9.15,
 9.15,
 9.15,
 12.5,
 9.15,
 84.3,
 9.15,
 84.3,
 84.3,
 9.15]

In [ ]:
vacios = ["", "audi", "toyota", "hyundai", "", "", "mercedez"]
list(filter(None, vacios))

['audi', 'toyota', 'hyundai', 'mercedez']

In [ ]:
nums = list(range(10))
x = nums[0]
for i in nums[1:]:
  x = x - i
print(x)

-45

In [ ]:
from functools import reduce
reduce(lambda x, y: x-y, nums)

-45

In [ ]:
diez = [10, 10, 10, 10, 10, 10]
a = 1
for i in diez:
  a = i * a

print(a)

1000000

In [ ]:
reduce(lambda x, y: x*y, diez)

1000000

In [ ]:
reduce(lambda x, y: x+y, [1,2,3,4,5])

15